* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}
#clg {
    color: grey;
}
#hr {
    display: inline-flex;
}
header > img,
header > h3 {
    display: inline-block;
}
ul {
    list-style-type: none;
   
}
li {
    display: inline;
}
a {
    text-decoration: none;
    margin: 0 8px;
}
article {
    display: flex;
}
#learn {
    flex-wrap: wrap;
    background-color: silver;
}
#practice {
    background-color: ivory;
}
#start {
    background-color: lightgray;
}
#banner {
    flex: 1 1 300px;
    width: 60%;
    margin: 32px 24px;
}
#startbutton {
    width: 200px;
    padding: 8px; 
    align-self: center;
    background-color: rgb(95, 95, 95);
    color: snow;
}
.vertflex {
    flex: 1 1 300px;
    width: 40%;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 40px;
}