body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    margin-left: 24px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
}
#clg {
    color: grey;
}
#hr {
    display: inline-flex;
}
header > img,
header > h3 {
    display: inline-block;
}
ul {
    list-style-type: none;
   
}
li {
    display: inline;
}
a {
    text-decoration: none;
    margin: 0 8px;
}
article {
    display: flex;
}
#learn {
    
    background-color: silver;
}
#practice {
    background-color: ivory;
}
#start {
    background-color: lightgray;
}
#banner {
    max-width: 60%;
    margin: 32px 24px;
}
#startbutton {
    width: 120px;
    padding: 8px; 
    align-self: center;
    background-color: slategrey;
    color: snow;
}
.vertflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}